<%- include("../partials/header") %>

<div class="cohort-cards">
  <% for (let cohort of cohorts) { %> 
    <div class="border border rounded mb-3 p-3">
      <div class="media border-dark">
      <% if (cohort.logoUrl) { %>  
        <img src="<%= cohort.logoUrl %>"
          width="30" height="30" 
          alt="logoUrl"
          class="rounded-circle"
        >
      <% } %>
        <div class="media-body">
          <h5 class="mt-1 ml-2"><%=cohort.Name%></h5>
        </div>
      </div>
      <div>
        <p class="mt-0 ml-0">
          <%=cohort.Members%>
        </p>
      </div>
      <a class="btn btn-primary btn-sm" href='/cohort/<%= cohort.id %>' role="button">Show Cohort</a>
    </div>
  <% } %>
</div>
  
  
<%- include("../partials/footer") %>